@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* ------------------ */

header {
  background-color: #686468;
  width: 100%;
  height: 700px;
}
.back_header {
  width: 100%;
  height: 700px;
  background-image: url("asset/img/headerbg.jpg");
  background-size: cover;
}
.navbar {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
}
.logo_company {
  margin: 35px 75px;
}
ul {
  list-style-type: none;
}
header .back_header .navbar .nav_head ul li {
  display: inline-block;
  margin: 0px 30px;
}
.logo_text {
  color: #ff7424;
  font-family: "Times New Roman", Times, serif;
  font-size: 40px;
  cursor: default;
}
.logo {
  color: #ff7424;
}
.nav_head {
  width: 560px;
  height: 40px;
  margin: 40px 20px;
}
a {
  color: #fff;
  text-decoration: none;
}
.btn {
  background-color: #0838bb;
  color: #fff;
  width: 80px;
  height: 30px;
  border-radius: 10px;
  cursor: pointer;
}
.header {
  width: 460px;
  height: 200px;
  margin: 0px 0px;
  color: #fff;
  font-size: 70px;
  text-align: justify;
  line-height: 75px;
  margin: 70px;
}
.box_header {
  width: 71%;
  height: 60px;
  border: 1px solid #fff;
  margin: auto;
  border-radius: 10px;
  display: flex;
  padding: 10px;
}
.box_header > .column1 {
  margin: 0px 10px;
}
.column1 {
  background-color: #fff;
  width: 230px;
  height: 35px;
  border-radius: 5px;
  display: flex;
  padding: 0px 20px;
  align-items: center;
}
input {
  border: 1px solid #fff;
}
.btn_search {
  width: 40px;
  height: 40px;
  background-color: tomato;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa_search {
  color: #fff;
}

/* -------------------------------------- */

main {
  width: 100%;
  height: 600px;
  background-color: #fff;
}
.box {
  width: 80%;
  height: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px auto;
  padding: 30px;
}
.row_left {
  width: 350px;
  height: 500px;
  /* margin-right: 10px; */
}
.row_right {
  width: 375px;
  height: 425px;
  margin-right: 20%;
}
.title_main {
  color: #ff7424;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  padding: 10px 0px;
}
.subtitle_main {
  font-family: "Times New Roman", Times, serif;
  font-size: 38px;
  font-weight: 600;
}
p {
  padding: 30px 0px;
  line-height: 20px;
  text-align: justify;
}
.row_info {
  height: 50px;
  padding: 10px 0px;
  display: flex;
  align-items: center;
}
.txt_price {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  color: #ff7424;
  font-weight: 400;
  margin: 0 auto;
}
.btn_booking {
  width: 100px;
  height: 30px;
  background-color: #ff7424;
  color: #fff;
  border-radius: 10px;
  border: none;
}
/* -------------------------------------- */
section {
  width: 100%;
  height: 500px;
}
.container {
  width: 80%;
  height: 435px;
  border: 1px solid #000;
  margin: 0 auto;
}
.text_container {
  width: 380px;
  font-family: "Times New Roman", Times, serif;
  font-size: 38px;
  font-weight: 600;
}

/* style footer start */
footer {
  padding: 30px 0;
  background-color: lightgrey;
  font-family: "Poppins", sans-serif;
}
.container-footer {
  width: 80%;
  margin: 0 auto;
}
.row {
}
.container-footer:after,
.row:after {
  content: "";
  display: block;
  clear: both;
}
.col1 {
  width: 20%;
  float: left;
  padding-bottom: 5px;
  min-height: 209px;
}
.col2 {
  width: 30%;
  float: left;
  min-height: 209px;
}
.col3 {
  width: 50%;
  float: left;
}
footer .footer-logo {
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 20px;
}
footer .box-footer {
  position: relative;
  padding: 5px 0;
  display: flex;
  color: gray;
  font-size: 16px;
}
footer .box-footer .text {
  margin-left: 25px;
  font-weight: 300;
  position: absolute;
  top: -25px;
}
footer .box-footer .email-box {
  padding-top: 10px;
}
footer .box-footer input,
footer .box-footer .btn-join {
  height: 35px;
  border-radius: 5px;
  padding: 0 10px;
  outline: none;
  border: none;
}
footer .box-footer input {
  width: 120px;
}
footer .box-footer .btn-join {
  width: 60px;
  background-color: #ff7424;
  color: white;
}
footer .box-footer .btn-join:hover {
  background-color: #fb9e33;
}
footer .footer-title {
  font-weight: bold;
  padding: 17px 0 20px 0;
}
footer .footer-list li {
  margin-top: 10px;
  color: gray;
  cursor: pointer;
}
footer .social-media h5 {
  font-size: 14px;
  font-weight: bold;
  padding-top: 30px;
}
footer .social-media ul li {
  display: inline-block;
  margin: 5px 5px 0 0;
}
footer .social-media li a i {
  width: 30px;
  height: 30px;
  text-align: center;
  background-color: transparent;
  color: grey;
  border-radius: 50%;
  line-height: 30px;
}
footer .social-media li a i:hover {
  background-color: #ff7424;
  color: white;
}
footer .footer-left p {
  float: left;
  color: grey;
}
footer .footer-right ul {
  float: right;
  padding: 27.5px 0;
}
footer .footer-right ul li {
  color: grey;
  display: inline-block;
  margin-left: 21px;
  cursor: pointer;
}
footer .footer-right ul li a {
  display: inline-block;
}
footer .footer-right li:hover,
footer .footer-list li:hover {
  color: #ff7424;
}
/* style footer end */

/* -------------------------------------- */
.menu-icon {
  display: none !important;
  color: white;
  float: right;
  font-size: 25px;
  padding: 45px 10px;
  width: 25px;
}

@media (max-width: 1000px) {
  .nav_head {
    display: none;
  }
  .menu-icon {
    display: block !important;
  }
  header {
    overflow: hidden;
  }

  footer .col1,
  footer .col2 {
    width: 50%;
    margin-bottom: 20px;
  }
  footer .footer-right ul {
    text-align: center;
    float: none;
    margin-left: -21px;
  }
  footer .footer-left p {
    text-align: center;
    float: none;
  }
}
@media (max-width: 670px) {
  .header {
    width: 100%;
  }
  .navbar {
    width: 100%;
  }
  /* .footer-contact { 
    display: block;
  } */
  .header {
    font-size: 64px;
  }
  .back_header {
    width: 100%;
    height: 700px;
  }
  header {
    position: relative;
  }
  .header {
    position: relative;
    text-align: left;
    width: 50%;
    height: 30%;
    line-height: 64px;
    bottom: 60px;
  }
  .nav_head {
    margin: 0px;
  }
  .box_header {
    position: absolute;

    height: 100px;
    margin-left: 30px;
    padding-bottom: 90px;
    bottom: 0px;
    display: grid;
    grid-row-gap: 10px;
    width: 80%;
  }
  .column1 {
    width: 80%;
  }
  .btn_search {
    width: 90%;
    margin-left: 10px;
  }
  .box {
    margin: 0 auto;
  }
  .row_left {
    display: none;
  }
  .row-right {
    margin: 0 auto;
  }
  /*
  footer {
    padding: 40px;
  }
  .container-footer {
    flex-direction: column;
    padding-right: 250px;
  }
  .footer-logo {
    width: 100%;
  }
  .box-footer {
    width: 100%;
    text-align: center;
  }
  */
  /* footer {
  }
  .container-footer {
    flex-direction: column;
    margin-right: 250px;
    width: 100%;
  } */
  footer .col1,
  footer .col2,
  footer .col3 {
    width: 100%;
    margin-bottom: 5px;
    border-radius: 5px;
  }
  footer .col1,
  footer .col2.address {
    min-height: 160px;
  }
  footer {
    text-align: center;
  }
  footer .box-footer {
    justify-content: center;
  }
  footer .box-footer.contact {
    margin-bottom: 30px;
  }
  footer .box-footer .icon {
    margin-top: -20px;
  }
  footer .footer-logo,
  .footer-title.address {
    margin-bottom: 10px;
  }
  footer .box-footer input {
    width: 150px;
  }
  footer .footer-right ul {
    padding: 0;
  }
  footer .footer-right ul li {
    margin-left: 10px;
  }
}
@media (max-width: 410px) {
  footer .social-media h5 {
    padding-top: 40px;
  }
}



